.container{
    display: flex;
    justify-content: space-between;
}

.button{
    color: white;
padding: 16px;
border: none;
width: 100px;
background-color: crimson;
cursor: pointer;
}

.button:disabled{
    background-color: rgba(220, 20, 60, 0.473);
    cursor: not-allowed;
  }